/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Variaveis*/
:root{
/*K-12*/
    --k12-pink: #A67E7B;
    --k12-black: #0D0D0D;
    --k12-light-gray: #D9D3D2;
    --k12-blue: #4A7A8C;
    --k12-more-light-blue: #88B5BF;
}

.k12-theme{
    --font-family: "Kanit", system-ui;
    --main-k12-color: #CDAA8C;
    --background-k12-header-image: url("../images/k12/background/castelo.png");
    --background-k12-image: url("../images/k12/gallery/first-day-hell.png");
    --footer-k12-image: url("../images/footer/heart-k12.png");
}

/*Estilizacao Geral*/
* {
    margin: 0;
    box-sizing: border-box;
    transition: 1.3s;
    z-index: 2;
}
  
*::selection{
    background-color: #D92958;
    color: #88B5BF;
}

body {
    background: linear-gradient(90deg, rgba(199,146,140,1) 0%, rgba(205,170,140,1) 50%, rgba(153,114,119,1) 100%);
}

h1,h2 {
    font-size: 3.5rem;
    font-family: var(--font-family);
    color: var(--k12-black);
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-family: var(--font-family);
    color: black;
    font-weight: 500;
}

/*INICIO DA ESTILIZACAO DA PAGINA*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
  
main::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--main-k12-color); /*Cor de fundo das secoes*/
    background-size: cover;
}

#img{
    border-radius: 25px;
}

strong{
    color: #D92958;
}

/*CABECALHO - HEADER*/
header {
    min-height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family:var(--font-family);
    
}
  
header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: var(--background-k12-header-image);
    background-size: cover;
    filter: saturate(0);
    opacity: 0.2;
}
  
.header-content {
    text-align: center;
    padding: 100px;
}

.header-content img{
    width: 380px;
    height: auto;
}

.header-content p {
    width: 750px;
    margin: 30px 40px;
    font-size: 16px;
}

.header-content a{
    text-decoration: none;
    color: #0D0D0D;
}
.rip-cry-baby {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 1.25rem;
    padding: 16px 34px;
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 8px;
    transition: 1.2s;
    cursor: pointer;
}

.rip-cry-baby {
    border: 3px solid #D92958;
    color: black;
    margin: 24px;
}

.rip-cry-baby:hover{
    border-color: #A67E7B;
    background-color: #A67E7B;
    color: black; 
}

/**SECTIONS STYLES**/
section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

/*SECAO UM*/
.container {
    margin: 100px;
    padding-bottom: 40px;
}

#section-k12-world .section-texts {
    padding: 80px  0 80px;
    align-items: center;
    width: 50%;
}

#section-k12-world img{
    width: 600px;
}

/*SECAO DOIS*/
#section-k12-world-trailer .section-texts {
    margin: -30px 14px;
    text-align: right;
    justify-content: right;
}

#section-k12-world-trailer .section-texts h2 {
    display: inline-block;
}

#section-k12-world-trailer .section-texts p{
    margin-left: 60px;
}

#section-k12-world-trailer .video-frame {
    background-color: #D92958;
}

#section-k12-world-trailer .video-frame iframe {
    position: relative;
    left: 14px;
    border: 2px solid;
    border-color: #D92958;
    border-image-slice: 4;
}

/*SECAO TRES*/

#section-k12-world-gallery {
    width: 100%;
    background: var(--background-k12-image) 130% / 50% no-repeat;
}
  
#section-k12-world-gallery .container h2 {
    width: 800px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#section-k12-world-gallery .section-text p{
    width: 60%;
}

#section-k12-world-gallery .gallery-container {
    display: flex;
    gap: 80px;
    padding-left: 20px;
    margin-top: 40px;
    
}

#section-k12-world-gallery .gallery-image {
    width: 250px;
    height: 250px;
    outline: 20px solid #A67E7B;
    border: 3px solid #D92958;
    box-sizing: initial;
    border-radius: 20px;
}

#section-k12-world-gallery .gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px solid rgba(199, 146, 140, 1);
    border-radius: 20px;
}

/*SECAO QUATRO*/
#section-k12-nursers-world{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

#section-k12-nursers-world{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section-k12-nursers-world p{
    padding: 0 80px;
    
}

/*SECAO CINCO - FINAL*/
#section-k12-world-final{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-h3 {
    flex: 1;
    text-align: left;
    font-size: 38px;
    width: 220px;
    margin-top: -80px;
    margin-left: 100px;
    font-weight: 400;
    font-family: var(--font-family);
    text-transform: uppercase;
}

.div-img img {
    margin-top: -80px;
    text-align: right;
    max-width: 500px;
    height: auto;
    margin-left: 110px;
}

span{
    color: #D92958;
}

/*RODAPÉ*/
footer {
    padding: 60px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
  
footer img{
    height: 50px;
    width: 300px;
}

footer p {
    max-width: 700px;
    bottom: -15px;
}

footer a{
    text-decoration: none;
    color: #D92958;
}

footer::before,
footer::after {
  content: "";
  width: 200px;
  height: 200px;
  background: var(--footer-k12-image) no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -10px;
}

footer::before {
  left: 50px;
  transform: rotateZ(-20deg);
}

footer::after {
  right: 50px;
  transform: rotateZ(20deg);
}
