/*Fontes*/

@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");

/*Variaveis*/
:root{
/*Cry Baby*/
    --crybabe-pink: #D92958;
    --crybabe-lilas: #D9C5D5;
    --crybabe-light-blue: #51658C;
    --crybabe-blue: #1C58A6;
    --crybaby-more-light-blue: #4192D9;

/*Portals*/
    --portals-dark-pink:#8C4552;
    --portals-lilas: #CDA0D9;
    --portals-gray: #8C745E;
    --portals-white: #F2E2DC;
    --portals-pink: #F2A0A0;
}
    
/*Temas*/
.cry-baby-theme{
    --page-background: linear-gradient(90deg, 
    rgba(217,197,213,1) 55%, 
    rgba(65,146,217,1) 100%);

}
    
.portals-theme{
    --page-background:linear-gradient(to right, 
    rgba(42, 40, 27, 1) 0%, 23.4375%, 
    rgba(164, 107, 113, 1) 46.875%, 73.4375%, 
    rgb(39, 37, 22) 100%
    );
}

* {
    margin: 0;
    box-sizing: border-box;
    transition: 1s;
    z-index: 2;
}
  
body {
    background: linear-gradient(90deg, rgba(217,197,213,1) 55%, rgba(65,146,217,1) 100%);
}

h1,h2,h3 {
    font-size: 3rem;
    color: black;
    text-transform: uppercase;
    margin-bottom: 40px;
}

p {
    color: black;
}

/*INICIO DA ESTILIZACAO DA PAGINA*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
  
main::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/crybaby/gallery/its-my-party.jpg); /*Cor de fundo das secoes*/
    background-size: cover;
}

/*CABECALHO - HEADER*/
header {
    margin-top: 80px;
    min-height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: "Libre Baskerville", serif;
    
}
  
header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../images/k12/banner/castelo.png");
    background-size: cover;
    filter: saturate(0);
    opacity: 0.2;
}
  
.header-content {
    text-align: center;
}

.header-content p {
    width: 750px;
    margin: 30px 40px;
    font-size: 16px;
}

button {
    padding: 16px 32px;
    background-color: transparent;
    font-weight: 900;
    font-family: var(--featured-font-family);
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 6px;
    transition: background 1s;
}

.header-content button {
    border: 3px solid var(--crybabe-blue);
    color: var(--crybabe-blue);
    margin: 24px;
}

.header-content button:hover {
    background-color: var(--crybabe-pink);
    color: black;
}

/**Imagens de Fundo Banner**/
.world-characters {
    width: 100%;
    max-width: 900px;
    position: absolute;
}

.world-characters #top-personagens {
    height: 100%;
    bottom: -3px;

    /*mask: var(--character-top-image-src) bottom / contain no-repeat;
    -webkit-mask: var(--character-top-image-src) bottom / 100% no-repeat;*/
}

.world-characters #bottom-personagens {
    height: 500px;
    top: 3px;
    transform: rotateZ(180deg) scaleX(-1);
    position: relative;

    /*mask: var(--character-bottom-image-src) bottom / contain no-repeat;
    -webkit-mask: var(--character-bottom-image-src) bottom / 100% no-repeat;*/
}

/**SECTIONS STYLES**/
section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
}

/*SECAO UM*/

.container {
    max-width: 1200px;
    margin-top: 80px;
}

#section-k12-world {
    align-items: center;
}

#section-k12-world .section-texts {
    width: 50%;
}

#section-k12-world.section-texts h2 {
    max-width: 300px;
}

/*SECAO DOIS*/

#section-k12-world-trailer.section-texts {
    width: 50%;
    text-align: right;
}

#section-k12-world-trailer .section-texts h2 {
    max-width: 425px;
    display: inline-block;
}

#section-k12-world-trailer .video-frame {
    background-color: var(--primary-color);
}

#section-k12-world-trailer .video-frame iframe {
    position: relative;
    bottom: 24px;
    left: 24px;
    border: 2px solid;
    border-image: linear-gradient(
    var(--primary-color),
    var(--primary-color-contrast)
    );
    border-image-slice: 10;
}

/*SECAO TRES*/
#section-k12-world-gallery {
    width: 100%;
    background: var(--background-lamp-image) 120% / 50% no-repeat;
    justify-content: center;
}

#section-k12-world-gallery .container {
    width: 100%;
}

#section-k12-world-gallery .container h2 {
    width: 800px;
    text-transform: uppercase;
}

#section-k12-world-gallery .gallery-container {
    display: flex;
    gap: 50px;
    padding-left: 20px;
}

#section-k12-world-gallery .gallery-image {
    width: 250px;
    height: 250px;
    outline: 20px solid var(--highlight-color);
    border: 3px solid var(--primary-color);
    box-sizing: initial;
}

#section-k12-world-gallery .gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px solid var(--highlight-color);
}
  

/*RODAPÉ*/
footer {
    padding: 60px 0;
    background-color: var(--footer-background-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
  

footer p {
    max-width: 700px;
    margin-bottom: 24px;
}