/*Fontes*/

/*Variaveis*/
:root{
/*Cry Baby*/

    --crybabe-pink: #D92958;
    --crybabe-lilas: #D9C5D5;
    --crybabe-light-blue: #51658C;
    --crybabe-blue: #1C58A6;
    --crybaby-more-light-blue: #4192D9;

/*K12*/
    --k12-blue: #4A7A8C;
    --k12-pink: #A67E7B;
    --k12-black: #0D0D0D;
    --k12-gray: #D9D3D2;
    --k12-light-blue: #88B5BF;

/*Portals*/
    --portals-dark-pink:#8C4552;
    --portals-lilas: #CDA0D9;
    --portals-gray: #8C745E;
    --portals-white: #F2E2DC;
    --portals-pink: #F2A0A0;
}

/*Temas*/
.cry-baby-theme{
    --page-background: linear-gradient(to right, 
    rgba(181, 95, 117, 1) 10.276679841897234%, 29.397233201581027%, 
    rgba(168, 180, 219, 1) 48.51778656126482%, 70.15810276679842%, 
    rgba(65, 79, 121, 1) 91.79841897233202%
    );

    --header-background-color: ;
    --highlight-color: ;
    --font-family: ;
    --personagem-top-image-src: url("../images/");
    --personagem-top-image-color: ;
    --personagem-bottom-image-src: url("../images/");
    --personagem-bottom-image-color: ;
    --background-portals-image: url("../images/");
    --footer-background-color: ;

}

.k12-theme{
    --page-background: linear-gradient(to right, 
    rgba(199, 146, 140, 1) 26.48221343873518%, 39.77272727272728%, 
    rgba(205, 170, 140, 1) 53.063241106719374%, 62.94092405083225%, 
    rgba(153, 114, 119, 1) 91.50197628458498%
    );

    --header-background-color: ;
    --highlight-color: ;
    --font-family: ;
    --personagem-top-image-src: url("../images/");
    --personagem-top-image-color: ;
    --personagem-bottom-image-src: url("../images/");
    --personagem-bottom-image-color: ;
    --background-portals-image: url("../images/");
    --footer-background-color: ;
}

.portals-theme{
    --page-background:linear-gradient(to right, 
    rgba(42, 40, 27, 1) 0%, 23.4375%, 
    rgba(164, 107, 113, 1) 46.875%, 73.4375%, 
    rgba(39, 37, 22, 1) 100%
    );

    --header-background-color: ;
    --highlight-color: ;
    --font-family: ;
    --personagem-top-image-src: url("../images/");
    --personagem-top-image-color: ;
    --personagem-bottom-image-src: url("../images/");
    --personagem-bottom-image-color: ;
    --background-portals-image: url("../images/");
    --footer-background-color: ;

}

/*Fontes*/

/*Variaveis*/
:root{
/*Cry Baby*/
    --crybabe-pink: #D92958;
    --crybabe-lilas: #D9C5D5;
    --crybabe-light-blue: #51658C;
    --crybabe-blue: #1C58A6;
    --crybaby-more-light-blue: #4192D9;

/*K12*/
    --k12-blue: #4A7A8C;
    --k12-pink: #A67E7B;
    --k12-black: #0D0D0D;
    --k12-gray: #D9D3D2;
    --k12-light-blue: #88B5BF;

/*Portals*/
    --portals-dark-pink:#8C4552;
    --portals-lilas: #CDA0D9;
    --portals-gray: #8C745E;
    --portals-white: #F2E2DC;
    --portals-pink: #F2A0A0;
}
    
/*Temas*/
.cry-baby-theme{
    --page-background: linear-gradient(to right, 
    rgba(181, 95, 117, 1) 10.276679841897234%, 29.397233201581027%, 
    rgba(168, 180, 219, 1) 48.51778656126482%, 70.15810276679842%, 
    rgba(65, 79, 121, 1) 91.79841897233202%
    );

    --header-background-color: ;
    --highlight-color: ;
    --font-family: ;
    --personagem-top-image-src: url("../images/");
    --personagem-top-image-color: ;
    --personagem-bottom-image-src: url("../images/");
    --personagem-bottom-image-color: ;
    --background-portals-image: url("../images/");
    --footer-background-color: ;

}
    
.k12-theme{
    --page-background: linear-gradient(to right, 
    rgba(199, 146, 140, 1) 26.48221343873518%, 39.77272727272728%, 
    rgba(205, 170, 140, 1) 53.063241106719374%, 62.94092405083225%, 
    rgba(153, 114, 119, 1) 91.50197628458498%
    );

    --header-background-color: ;
    --highlight-color: ;
    --font-family: ;
    --personagem-top-image-src: url("../images/");
    --personagem-top-image-color: ;
    --personagem-bottom-image-src: url("../images/");
    --personagem-bottom-image-color: ;
    --background-portals-image: url("../images/");
    --footer-background-color: ;
}
    
.portals-theme{
    --page-background:linear-gradient(to right, 
    rgba(42, 40, 27, 1) 0%, 23.4375%, 
    rgba(164, 107, 113, 1) 46.875%, 73.4375%, 
    rgba(39, 37, 22, 1) 100%
    );

    --header-background-color: ;
    --highlight-color: ;
    --font-family: ;
    --personagem-top-image-src: url("../images/");
    --personagem-top-image-color: ;
    --personagem-bottom-image-src: url("../images/");
    --personagem-bottom-image-color: ;
    --background-portals-image: url("../images/");
    --footer-background-color: ;
    
}

* {
    margin: 0;
    box-sizing: border-box;
    transition: 1s;
}

body {
    background: var(--page-background);
}

h1,h2,h3 {
    font-family: var(--font-family);
    font-size: 3rem;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 40px;
}

p {
    color: var(--highlight-color);
}

/*INICIO DA ESTILIZACAO DA PAGINA*/
main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

main::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--page-background) no-repeat,
    url("../images/backgrounds/florest.png") no-repeat;
    background-size: cover;
    z-index: -1;
}

/*CABECALHO - HEADER*/

header {
    background-color: var(--header-background-color);
    min-height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../images/banner/florest.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 90%;
    filter: saturate(0);
    opacity: 0.2;
}

.header-content {
    max-width: 700px;
    padding: 80px 20px;
    text-align: center;
    z-index: 2;
}

.header-content img {
    width: 80%;
}

.header-content p {
    margin: 30px 0 50px;
}

.header-content button {
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
}

.header-content button:hover {
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
}

/**Imagens de Fundo Banner**/

.world-personagens {
    width: 100%;
    max-width: 900px;
    position: absolute;
}

.world-personagens #top-personagens {
    height: 100%;
    background-color: var(--character-top-image-color);
    bottom: -3px;

    mask: var(--character-top-image-src) bottom / contain no-repeat;
    -webkit-mask: var(--character-top-image-src) bottom / 100% no-repeat;
}

.world-personagens #bottom-personagens {
    height: 500px;
    background-color: var(--character-bottom-image-color);
    top: 3px;
    transform: rotateZ(180deg) scaleX(-1);
    position: relative;

    mask: var(--character-bottom-image-src) bottom / contain no-repeat;
    -webkit-mask: var(--character-bottom-image-src) bottom / 100% no-repeat;
}

/**SECTIONS STYLES**/

section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
}

/*SECAO UM*/

.container {
    max-width: 1200px;
}

#section-inverted-world {
    align-items: center;
}

#section-inverted-world .section-texts {
    width: 50%;
}

#section-inverted-world .section-texts h2 {
    max-width: 300px;
}

/*SECAO DOIS*/

#section-stranger-things-trailer .section-texts {
    width: 50%;
    text-align: right;
}

#section-stranger-things-trailer .section-texts h2 {
    max-width: 425px;
    display: inline-block;
}

#section-stranger-things-trailer .video-frame {
    background-color: var(--primary-color);
}

#section-stranger-things-trailer .video-frame iframe {
    position: relative;
    bottom: 24px;
    left: 24px;
    border: 2px solid;
    border-image: linear-gradient(
    var(--primary-color),
    var(--primary-color-contrast)
    );
    border-image-slice: 10;
}

/*SECAO TRES*/

#section-stranger-things-gallery {
    width: 100%;
    background: var(--background-lamp-image) 120% / 50% no-repeat;
    justify-content: center;
}

#section-stranger-things-gallery .container {
    width: 100%;
}

#section-stranger-things-gallery .container h2 {
    width: 800px;
}

#section-stranger-things-gallery .gallery-container {
    display: flex;
    gap: 50px;
    padding-left: 20px;
}

#section-stranger-things-gallery .gallery-image {
    width: 250px;
    height: 250px;
    outline: 20px solid var(--highlight-color);
    border: 3px solid var(--primary-color);
    box-sizing: initial;
}

#section-stranger-things-gallery .gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px solid var(--highlight-color);
}


/*RODAPÉ*/
footer {
    padding: 60px 0;
    background-color: var(--footer-background-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}


footer p {
    max-width: 700px;
    margin-bottom: 24px;
}