/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Variaveis*/
:root{
/*K-12*/
    --k12-pink: #A67E7B;
    --k12-black: #0D0D0D;
    --k12-light-gray: #D9D3D2;
    --k12-blue: #4A7A8C;
    --k12-more-light-blue: ##88B5BF;

/*Portals*/
    --portals-dark-pink:#8C4552;
    --portals-lilas: #CDA0D9;
    --portals-gray: #8C745E;
    --portals-white: #F2E2DC;
    --portals-pink: #F2A0A0;
}
    
/*Temas*/
.k12-theme{
    --page-background:linear-gradient(to right, 
    rgba(199, 146, 140, 1) 26.48221343873518%, 39.77272727272728%, 
    rgba(205, 170, 140, 1) 53.063241106719374%, 62.94092405083225%, 
    rgba(153, 114, 119, 1) 91.50197628458498%
    );

    --font-family: "Kanit", system-ui;
    --background-k12-image: url("../images/k12/gallery/first-day-hell.png");
    --footer-k12-image: url("../images/footer/heart-k12.png");
}
    
.portals-theme{
    --page-background:linear-gradient(to right, 
    rgba(42, 40, 27, 1) 0%, 23.4375%, 
    rgba(164, 107, 113, 1) 46.875%, 73.4375%, 
    rgb(39, 37, 22) 100%
    );

    --font-family: "Kanit", system-ui;
    --background-portals-image: url("../images/footer/");
    --footer-portals-image: url("../images/footer/");
}

/*Estilizacao Geral*/
* {
    margin: 0;
    box-sizing: border-box;
    transition: 1s;
    z-index: 2;
}
  
body {
    background: var( --page-background);
}

h1,h2 {
    font-size: 3.5rem;
    font-family: var(--font-family);
    color: var(--k12-black);
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-family: var(--font-family);
    color: var(--k12-black);
}

/*INICIO DA ESTILIZACAO DA PAGINA*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
  
main::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #CDAA8C; /*Cor de fundo das secoes*/
    background-size: cover;
}

/*CABECALHO - HEADER*/
header {
    min-height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family:var(--font-family);
    
}
  
header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../images/k12/background/castelo-organizado.png");
    background-size: cover;
    filter: saturate(0);
    opacity: 0.2;
}
  
.header-content {
    text-align: center;
    padding: 100px;
}

.header-content p {
    width: 750px;
    margin: 30px 40px;
    font-size: 16px;
}

button {
    font-family: var(--font-family);
    padding: 16px 32px;
    background-color: transparent;
    font-weight: 900;
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 6px;
    transition: 1s;
}

.header-content button {
    border: 3px solid #D92958;
    color: var(--k12-black);
    margin: 24px;
}

.header-content button:hover {
    border-color: var(--k12-pink);
    background-color: var(--k12-pink);
    color: var(--k12-black);
}

/**SECTIONS STYLES**/
section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

/*SECAO UM*/
.container {
    margin: 100px;
    padding-bottom: 80px;
}

#section-k12-world .section-texts {
    padding: 80px  0 80px;
    align-items: center;
    width: 50%;
}

/*SECAO DOIS*/
#section-k12-world-trailer .section-texts {
    margin: -30px 14px;
    text-align: right;
    justify-content: right;
}

#section-k12-world-trailer .section-texts h2 {
    display: inline-block;
}

#section-k12-world-trailer .section-texts p{
    margin-left: 60px;
}

#section-k12-world-trailer .video-frame {
    background-color: #D92958;
}

#section-k12-world-trailer .video-frame iframe {
    position: relative;
    left: 14px;
    border: 2px solid;
    border-color: #D92958;
    border-image-slice: 3;
}

/*SECAO TRES*/

#section-k12-world-gallery {
    width: 100%;
    background: var(--background-k12-image) 130% / 50% no-repeat;
}
  
#section-k12-world-gallery .container h2 {
    width: 800px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#section-k12-world-gallery .gallery-container {
    display: flex;
    gap: 80px;
    padding-left: 20px;
    margin-top: 40px;
}

#section-k12-world-gallery .gallery-image {
    width: 250px;
    height: 250px;
    outline: 20px solid #D92958;
    border: 3px solid var(--k12-light-gray);
    box-sizing: initial;
}

#section-k12-world-gallery .gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px solid var(--k12-blue);
}
  
/*SECAO QUATRO*/

#section-k12-world-final{
    margin-top: 80px;
    width: 80%; 
}

#section-k12-world-final .section-texts h2{
    width: 130%;
}

#section-k12-world-final .section-texts p{
    width: 600px;
}

#section-k12-world-final .section-texts h3{
    width: 168%; /*CORRIGIR TEXTO - POSICAO CENTRAL*/
    margin: 242px 20% 0;
    justify-content: center;
    font-size: 3.75rem;
}

span{
    color: #D92958;
}

#section-k12-world-final img{ 
    margin-left: 60px;
    height: 400px;
    
}

/*RODAPÉ*/
footer {
    padding: 60px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
  
footer img{
    height: 50px;
    width: 400px;
}

footer p {
    max-width: 700px;
    bottom: -15px;
}

footer a{
    text-decoration: none;
    color: #D92958;
}

footer::before,
footer::after {
  content: "";
  width: 200px;
  height: 200px;
  background: var(--footer-k12-image) no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -10px;
}

footer::before {
  left: 50px;
  transform: rotateZ(-20deg);
}

footer::after {
  right: 50px;
  transform: rotateZ(20deg);
}